body{
	background-color: #232323;
	margin: 0;
    font-family: "Montserrat", "Aviner";
}

.squares{
	background-color: pink;
	width: 30%;
    margin: 1.66% ;
	padding-bottom: 30%;
	float: left;
	border-radius: 25px;
    transition: background 0.3s;

}

#container{
margin:20px auto ;
max-width: 600px;

}

h1{
	color:white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;	
	line-height: 1.1;
	padding: 20px 0;
    transition: background 0.3s;

}

button{
	border: none;
	background: none;
	height: 100%; 
    font-weight: 700;
    color:steelblue;
    letter-spacing: 1px;
    font-size: inherit;
 	text-transform: uppercase;
    transition: all 0.3s;
    outline: none;
}
button:hover{
	background-color: steelblue;
	color: white;
}
#msg{
	display: inline-block;
	width: 20%;
}

.selected{
	background-color: steelblue;
	color:white;
}

#cont{
background-color: white;
height: 30px;
text-align: center;
color: black;
}

#colorDisplay{
	font-size: 200%;
}